@page
@model VideoGameCasus.Pages.AddGameModel
@{
}
    <form method="post">
        <label for="igdb-query">IGDB Search</label>
        <input asp-for="IgdbSearchString" type="Text" id="igdb-query" required>
        <input type="submit" id="submit-api" value="Get game from IGDB">
    </form>